body {
  background-image: url("../images/backgroundLanding.jpg");
  background-size: cover;
  color: #FFF;
  font-family: "Dosis";
  margin: auto;
  min-height: 100%;
  text-align: center;
  width: 70%;
}

h1 {
  background-color: #272d48;
  color: #FFF;
  font-size: 3rem;
  margin: 40px auto;
  padding: 15px;
}

h2 {
  font-size: 1.4rem;
  padding: 15px;
}

p {
  font-size: 1.2rem;
  margin: 40px auto;
}

a {
  color: #2ea3f2;
}

a:hover {
  color: #70bff5;
}

.container {
  border: 2px #2ea3f2 solid;
  border-radius: 10px;
  padding: 25px;
  margin-top: 8%;
}

.divideBody {
  border: none;
  border-top: 12px dotted #272d48;
  margin: 45px auto;
  width: 10%;
}


.divideFooter {
  background-color: #272d48;
  border: none;
  height: 1px;
  width: 60%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 87vh;
  justify-content: space-between
}

.footer p {
  font-size: 0.8rem;
  margin: 50px auto;
}

.pn {
  font-size: 1.3rem;
}

/* Responsive for Desktop */

@media (min-width: 769px) and (max-width: 1400px){

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.2rem;
    padding: 15px;
  }

  p {
    font-size: 1rem;
  }

  .pn {
    font-size: 1.1rem;
  }


}

/* Responsive for Tablet */

@media (min-width:541px) and (max-width:768px) {

  /* body {
    background: #FFF;
    color: #575757;
  } */

  h1 {
    font-size: 2.5rem;
    margin: 50px auto;
  }

  h2 {
    font-size: 1rem;
    padding: 15px;
  }

  p {
    font-size: 0.8rem;
    margin: 50px auto;
  }

  .pn {
    font-size: 0.9rem;
  }

}

/* Responsive for Smartphone */

@media (max-width: 540px) {

  body {
    background: #FFF;
    color: #575757;
  }

  h1 {
    font-size: 2.5rem;
    margin: 40px auto;
  }

  h2 {
    font-size: 0.85rem;
    margin: 20px auto;
  }

  p {
    font-size: 0.7rem;
    margin: 25px auto;
  }

  .container {
    margin-top: 25%;
  }

  .pn {
    font-size: 0.8rem;
  }

}
